#enterprise {
  position: relative;


  h1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 100px auto 80px;
    max-width: 500px;
    text-align: center;
    z-index: 1;

    @media (max-width: 624px) {
      padding: 0 20px;
      text-align: center;
      font-size: 34px;
    }

    small {
      margin-top: 20px;
      line-height: 1.2em;
    }
  }


  .film-container {
    display: flex;

    .video-container {
      margin:0;
      width: 100%;
      max-width: 100%;

      .video-wrapper {
        margin:0;
        border: none;
      }
    }
  }

  .sales-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 60px auto 120px;

    &:before {
      position: absolute;
      content: "";
      width: 2px;
      height: 100px;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f4f4f4;
      z-index: 0;
    }

    .sales-team {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      z-index: 1;
    }

    .banner-cta {
      margin-top: 55px;
      z-index: 1;
    }

    .contact-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        position: relative;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 900;
        font-size: 1.2em;

        @media (max-width: 991px){
          margin: 30px 0;
        }

        &:before {
          content: "";
          position: absolute;
          width: 28px;
          height: 2px;
          background-color: #f4f4f4;
          top: 13px;
          left: -40px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 28px;
          height: 2px;
          background-color: #f4f4f4;
          top: 13px;
          right: -40px;
        }
      }

      a, a:hover, a:focus, a:visited {
        font-size: 1.2em;
        margin: 5px 0;
        text-decoration: none;
      }
    }
  }
}