#enterprise {
  position: relative;
  top: -20px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 450px;
    top: -80px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: asset-url('banners/pattern-enterprise.png');
    z-index: 0;
  }

  h1 {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 100px auto 80px;
    max-width: 500px;
    text-align: center;
    z-index: 1;

    @media (max-width: 624px) {
      padding: 0 20px;
      text-align: center;
      font-size: 34px;
    }

    small {
      margin-top: 20px;
      line-height: 1.2em;
    }
  }

  .cta-header {
    margin: 0 auto;
    max-width: 260px;
  }

  .enterprise-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 40px 0 0;
    margin-top: 120px;
    width: 100%;
    max-width: 1200px;
    min-height: 300px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;

    @media (max-width: 767px) {
      border-radius: 0;
    }

    &:before {
      position: absolute;
      content: "";
      width: 2px;
      height: 644px;
      top: -20px;
      left: 33%;
      background-color: #f4f4f4;
      z-index: 1;

      @media (max-width: 1199px) {
        height: 645px;
      }

      @media (max-width: 1110px) {
        height: 688px;
      }

      @media (max-width: 1022x) {
        height: 731px;
      }

      @media (max-width: 991px) {
        width: 33%;
        height: 2px;
        top: 7px;
        left: 0;
      }
    }

    &:after {
      position: absolute;
      content: "";
      width: 85px;
      height: 2px;
      background-color: #f4f4f4;
      left: 33%;
      z-index: 1;
      bottom: 26px;

      @media (max-width: 991px) {
        display: none;
      }
    }

    .circle {
      background-color: #D23333;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      margin: 5px;
      position: absolute;
      left: 32%;
      z-index: 10;
      top: -5px;
    }

    .usecases {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;

      .usecase {
        width: 33.33333%;
        font-weight: 900;
        color: #333;
        font-size: 2.7em;
        line-height: 1em;
        padding: 30px;
        list-style: none;
      }

      li:nth-child(1){
        font-size: 1.7em;
        text-align: right;
        opacity: 0.8;

        @media (max-width: 767px){
          width: 100%;
        }
      }

      li:nth-child(2){
        width: 66.66666%;

        @media (max-width: 767px){
          width: 100%;
          font-size: 1.7em;
        }
      }

      li:nth-child(3){
        display: flex;
        align-items: flex-end;
        text-align: right;

        @media (max-width: 991px){
          width: 50%;
          align-items: flex-start;
        }

        @media (max-width: 767px){
          width: 100%;
          font-size: 1.7em;
          opacity: 0.8;
        }
      }

      li:nth-child(4){
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 66.66666%;
        font-size: 1.7em;

        @media (max-width: 991px){
          width: 50%;
        }

        @media (max-width: 767px){
          width: 100%;
        }

        ul {
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          -webkit-padding-start: 0px;

          li {
            margin: 35px 0;
            width: 50%;
            font-size: 0.8em;
            font-weight: 100;
            opacity: 0.8;
            text-align: left;
            list-style: none;

            @media (max-width: 991px){
              width: 100%;
            }
          }

          li:nth-child(1){
            margin: 10px 0 35px;

            @media (max-width: 991px){
              margin: 10px 0;
            }

            @media (max-width: 767px){
              display: none;
            }
          }

          li:nth-child(2){
            margin: 50px 0;
            width: 70%;
            font-size: 1em;
            font-weight: 600;

            width: 100%;
            margin: 31px 0;

            @media (max-width: 991px){
              margin: 10px 0;
              width: 100%;
              opacity: 1;
            }
          }

          li:nth-child(3){
            @media (max-width: 767px){
              display: none;
            }
          }
        }
      }

      li:nth-child(5){
        font-size: 1.7em;
        text-align: right;
      }

      li:nth-child(6){
        font-size: 1.7em;
        text-align: right;
      }
    }

    .banner-cta {
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
    }
  }

  .film-section {
    position: relative;
    padding: 60px 0;
    margin-top: 60px;

    &:before {
      position: absolute;
      content: "";
      width: 2px;
      height: 675px;
      top: -85px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f4f4f4;
      z-index: 0;
    }

    .film-container {
      display: flex;

      .video-container {
        margin:0;
        width: 100%;
        max-width: 100%;

        .video-wrapper {
          margin:0;
          border: none;
        }
      }

      .video-caption {
        width: 30%;
        margin: 0;
        font-weight: 500;
        font-size: 1.8em;
        line-height: 1.2em;
        border-left: none;
        background-color: #333;
        color: white;

        @media (max-width: 991px) {
          display: none;
        }
      }
    }
  }

  .sales-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 60px auto 120px;

    &:before {
      position: absolute;
      content: "";
      width: 2px;
      height: 100px;
      top: -80px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #f4f4f4;
      z-index: 0;
    }

    .sales-team {
      height: 180px;
      width: 180px;
      border-radius: 50%;
      z-index: 1;
    }

    .banner-cta {
      margin-top: 55px;
      z-index: 1;
    }

    .contact-details {
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        position: relative;
        margin-bottom: 20px;
        font-style: normal;
        font-weight: 900;
        font-size: 1.2em;

        @media (max-width: 991px){
          margin: 30px 0;
        }

        &:before {
          content: "";
          position: absolute;
          width: 28px;
          height: 2px;
          background-color: #f4f4f4;
          top: 13px;
          left: -40px;
        }

        &:after {
          content: "";
          position: absolute;
          width: 28px;
          height: 2px;
          background-color: #f4f4f4;
          top: 13px;
          right: -40px;
        }
      }

      a, a:hover, a:focus, a:visited {
        font-size: 1.2em;
        margin: 5px 0;
        text-decoration: none;
      }
    }
  }
}